@charset "utf-8";
/* 글로벌 폰트, 색상 변수, 타이포 등등 스타일 변경 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #111111;
    font-family: 'Noto Sans', system-ui, sans-serif; /* system-ui OS 기본 UI 폰트를 사용하게 함 윈도우/맥/리눅스 커버 */
}

section {
    /* margin-top: 30px; */
    position: relative;
}

h3 {
    font-size: 50px;
    color: #fff;
    letter-spacing: -2px;
}
h4 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.header-wrap li {
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 15px;
    cursor: pointer;
}

.btn-learnmore {
    margin-top: 11px;
    text-align: center;
    color: #ffffff;
}
.btn-learnmore::after {
    content: url('../img/logo_icons/w_arrow\ 1.svg');
    display: inline-block;
    width: 16px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.ind.on {
    background-color: rgba(255, 255, 255, 1);
    width: 42px;
    border-radius: 20px;
}
.ind {
    display: inline-block;
    transition: all 1s ease;
    width: 24px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
.ind + .ind {
    margin-left: 5px;
}
.signature-color {
    color: #ff6900;
}