@charset "utf-8";

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 99;
    backdrop-filter: blur(3px);
}

header.header a.header_logo_home {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
    z-index: 100;
}

header.header .back-panel {
    position: absolute;
    width: 100%;
    height: 50rem;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
}

header.header nav.header_nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;    
}

header.header nav.header_nav .header-wrap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header.header nav.header_nav .header-wrap li + li {
    margin-left: 40px;
}

header.header .header-utill-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

header.header .header-utill-wrap a+a {
    margin-left: 20px;
}

header.header .header-utill-wrap .header-utill-item {
    width: 26px;
}
header.header .header-utill-wrap .header-utill-item img {
    width: 100%;
}
/* header */

main#main.main .main-video-wrap {
    width: max-content;
    height: fit-content;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.brand-information-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 3rem);
}

.main-video-wrap .indicator {
    position: absolute;
    bottom: 118px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-pr-sb-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
    margin-top: 30px;
}

.main-tip-support-wrap {
    padding: 0 50px;    
}

/* @media (min-width: 1280px) {

} */

/* 테블릿&노트북 */
@media (max-width: 1279px) {

}


/* 모바일 */
@media (max-width: 767px) {

}