@charset "utf-8";

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 99;
    backdrop-filter: blur(3px);
}

header.header a.header_logo_home {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
    z-index: 100;
}

header.header .back-panel {
    position: absolute;
    width: 100%;
    height: 50rem;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
}

header.header nav.header_nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;    
}

header.header nav.header_nav .header-wrap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header.header nav.header_nav .header-wrap li + li {
    margin-left: 40px;
}

header.header .header-utill-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

header.header .header-utill-wrap a+a {
    margin-left: 20px;
}

header.header .header-utill-wrap .header-utill-item {
    width: 26px;
}
header.header .header-utill-wrap .header-utill-item img {
    width: 100%;
}
/* header */

main#main.main .main-video-wrap {
    width: -webkit-fill-available;
    height: fit-content;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    overflow: hidden;
}
main#main.main .main-video-wrap video {
    max-width: max-content;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);    
}

.brand-information-wrap {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}

.main-video-wrap .indicator {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-pr-sb-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 50px;
    margin-top: 30px;
}
.main-promotion-content-wrap h3 {
    padding: 10px 0;
}
.main-subscribe-content-wrap h3 {
    padding: 10px 0;
}
.main-pr-sb-wrapper > div + div {
    margin-left: 30px;
    width: 41%;
}
.main-tip-support-wrapper {
    margin-top: 30px;
}
.main-tip-support-wrap {
    padding: 0 50px;    
}
.main-tip-support-wrap h3 {
    padding: 10px 0;
}

.main-promotion-content-wrap {
    width: 59%;
}

.promotion-content {
    background-color: #ff6900;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}
.prmtn-content-text {
    padding: 30px;
}
.prmtn-content-text p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}
.prmtn-content-text span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.prmtn-content-text .btn-learnmore {
    text-align: right;
    margin-top: 44px;
}
.prmtn-image {
    max-width: fit-content;
}



.subscribe-content {
    width: 100%;
}
.subscribe-text {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 20px;
    border-radius: 20px;
}
.subscribe-text p {
    font-size: 18px;
    color: #ffffff;
}

.subscribe-input {
    margin-top: 30px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.subscribe-input h4 {
    font-size: 24px;
}

.input-wrap {
    position: relative;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    padding: 0 15px;
    margin-top: 30px;
}

.input-wrap input {
    width: 100%;
    font-size: 20px;
    color: #fff;
}
.input-wrap label {
    display: none;
}
.email-subscribe-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    padding: 0;
}
.email-subscribe-button::after {
    content: url(../img/logo_icons/input_arrow.svg);
    display: block;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
}

.ts-list-wrap {
    margin-top: 40px;
}
.ts-list-wrap ul {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
}
.ts-list-item {
    text-align: center;
    width: 25%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.ts-list-item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.ts-list-item a {
    display: flex;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.ts-list-item strong {
    margin-top: 12px;
    font-size: 22px;
}
.ts-list-item p {
    margin-top: 12px;
    font-size: 15px;
    letter-spacing: -0.8px;
}
.ts-list-item .btn-learnmore {
    margin-top: 12px;
    font-size: 13px;
}

.main-whyhankook-wrapper {
    margin-top: 50px;
}
.main-whyhankook-content-wrap {
    padding: 0 50px;
    margin: 40px 0;
}
.main-whyhankook-content-wrap h3 {
    text-align: center;
    font-size: 38px;
}
.main-whyhankook-content-wrap p {
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
}

.main-relase-wrapper, .main-social-wrapper {
    margin-top: 30px;
}
.main-relase-wrap, .main-social-wrapper {
    padding: 0 50px;
}
.main-relase-wrapper h3, .main-social-wrapper h3 {
    font-size: 38px;
}


.main-relase-wrapper {
    background-color: #252525;
    margin-top: 0;
    padding: 30px 0;
}
.rl-list-wrap {
    margin-top: 15px;
}
.rl-list-wrap ul {
    display: grid;
    align-content: stretch;
    justify-content: start;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 5px;
}
.rl-list-item {
    /* width: 330px; */
    max-width: 330px;
    height: 444px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.company {
    margin-top: 10px;
    font-size: 12px;
    color: #C0BABA;
}
.magazine_text {
    margin-top: 10px;
    font-size: 15px;
    color: #FFFFFF;
}



.scl-list-wrap {
    margin-top: 15px;
}
.scl-list-wrap ul {
    display: grid;
    align-content: stretch;
    justify-content: start;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 5px;
}
.scl-list-item {
    position: relative;
    /* width: 330px; */
    max-width: 330px;
    max-height: 444px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.scl-list-item:nth-child(1)::after {
    content: url(../img/logo_icons/c_ic_instagram_1.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
}
.scl-list-item:nth-child(2)::after {
    content: url(../img/logo_icons/c_ic_facebook_1.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
}
.scl-list-item:nth-child(3)::after {
    content: url(../img/logo_icons/c_ic_instagram_1.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
}
.scl-list-item:nth-child(4)::after {
    content: url(../img/logo_icons/c_ic_facebook_1.svg);
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
}


footer#footer.footer {
    margin-top: 30px;
    background-color: #252525;
    color: #FFFFFF;
    padding: 64px 50px;
}

.footer-menu-list-wrap {
    margin-top: 30px;
    padding: 50px 0;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
}

.copyright {
    font-weight: 200;
    font-size: 10px;
    width: 210px;
}

.footer-copyright-sns-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
}
.sns-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.footer-d1-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sns-familysite {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}


.footer-d1-listhead {
    font-size: 18px;
}
.footer-d2-list-wrapper {
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
}
.footer-d2-list-item + .footer-d2-list-item {
    margin-top: 10px;
}
/* @media (min-width: 1280px) {

} */

/* 테블릿&노트북 */
@media (max-width: 1279px) {

}


/* 모바일 */
@media (max-width: 767px) {

}